<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WebApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebService1Soap" />
        <binding name="WebService1Soap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:57588/WebService1.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebService1Soap" contract="ServiceReference1.WebService1Soap"
        name="WebService1Soap" />
      <endpoint address="http://localhost:57588/WebService1.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebService1Soap1" contract="ServiceReference2.WebService1Soap"
        name="WebService1Soap1" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <WebApplication1.Properties.Settings>
      <setting name="WebApplication1_ReferenciaWS_WebService1" serializeAs="String">
        <value>http://localhost:57588/WebService1.asmx</value>
      </setting>
    </WebApplication1.Properties.Settings>
  </applicationSettings>
</configuration>